@model WebTest_2.Models.Phone

@{
    var PhoneNum = ViewBag.PhoneNum;
    Guid aPhoneID = PhoneNum.Id;
    string aPhoneNum = PhoneNum.PhoneNumber;
}

<div class="text-center">
    <h1>Редактировать телефон</h1>
    <div>
        <form asp-controller="Home" asp-action="PhoneEdit" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>

            <div>
                <label>Номер телефона</label>
                <input type="hidden" name="PhoneId" value="@aPhoneID" />
                <input asp-for="PhoneNumber" value="@aPhoneNum" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>

            <input type="submit" value="Готово" />
        </form>
    </div>
</div>

