@model WebTest_2.Models.User

<div class="text-center">
    <h1>Редактировать юзера</h1>
    <div>
        <form asp-controller="Home" asp-action="UsersAdd" method="post">
           
            <input type="submit" value="Готово" />
        </form>
    </div>
</div>

